p, h4 {
	margin: 8px 0px 8px 0px;
}
.geektext-lr {
    width: 350px;
    height: auto;
    margin: 10px auto 0px auto;
    border: 1px #ddd solid;
    border-radius: 3px;
    padding-bottom: 10px;
}

div.geektext-error {
    color: #c40000;
    border-color: #c40000;
}

div.geektext-success {
    color: #48a848;
    border-color: #48a848;
}

div.geektext-dialog {
	padding: 5px 0px;
}

div.geektext-lr p {
    color: black;
}

.geektext-icon {
    width: 32px;
    text-align: center;
}

.geektext-dialog-icon {
    float: left;
    padding: 12px 14px;
}

.fa-circle {
    font-size: 10px;
    color: #c9c9c9;
}

.fa-check {
    color: #48a848;
}