body {
    font-size: 100%;
    background: #262626;
}

#books {
    padding-top: 50px;
}

.row {
    /*    background-color: aqua;*/
}

.flex-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    /*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3);*/
    height: 480px;
    width: 100%;
    border: #262626;
    background: #262626;
    color: #ffffff;
    /*    background-image: linear-gradient(rgba(38, 38, 38, 1), rgba(38, 38, 38, 1));*/

}

.card:hover {
    top: -3px;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 1);

}

.image-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    /*    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(200, 200, 200, .2));*/
    min-height: 52%;

    /*
    border-width: 1px;
    border-style: dashed;
    border-color: red;
*/

}

.img-thumbnail {
    background-color: #744774;
    border: #262626;

}

img {
    width: auto;
    height: auto;
}

.info-section {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: space-between;
    flex: auto;


    padding: 0px 20px;
    padding-top: 10px;
    letter-spacing: .01em;

    background: #fff;

    /*    background-image: linear-gradient(rgba(200, 200, 200, .2), rgba(0, 0, 0, 0));*/


    /*
    background-color: chartreuse;
    border-width: 1px;
    border-style: dashed;
    border-color: blue;
*/
}

.title {
    font-size: .9em;
    font-weight: 600;
    line-height: 1.1em;
}

.author {
    font-size: .9em;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: .04em;
}

.category {
    display: flex;
    justify-content: flex-start;
    font-size: .8em;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: .04em;


    /*    background-color: darkorange;*/
}

.button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 auto;

    padding-bottom: 10px;
    padding-top: 10px;

    /*
    border-width: 1px;
    border-style: dashed;
    border-color: red;
*/

}

#description-button {
    margin-bottom: 6px;
    width: 80%;
}

#authorbio-button {
    width: 80%;
}
