body {
  font-size: 100%;
  background: #262626;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  color: #fff;
  border: #262626;
  background-image: linear-gradient(rgba(38, 38, 38, .8), rgba(38, 38, 38, 1));
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 35%;
  background-image: linear-gradient(rgba(38, 38, 38, 1), rgba(38, 38, 38, 0));
}

.img-thumbnail {
  background-color: #31b4fa;
  border: #262626;

}

img {
  width: 100px;
  height: auto;
}

.star-rating {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex: initial;
  margin: 10px 40px;
  letter-spacing: .01em;
}

.stars {
  color: gold;
  font-size: .8em;
}

.price {
  font-size: .8em;
}

.info-section {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  justify-content: space-between;
  flex: auto;
  margin: 10px 40px;
  letter-spacing: .01em;
}

.title {
  font-size: .7em;
  font-weight: 600;
  line-height: 1.1em;
  color: #fff;
}

.author {
  font-size: .7em;
  font-weight: 500;
  line-height: 1.1em;
  letter-spacing: .04em;
  color: #fff;
}

.category {
  display: flex;
  justify-content: flex-start;
  font-size: .6em;
  font-weight: 400;
  line-height: 1.1em;
  letter-spacing: .04em;
  color: #fff;
}

.button-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 auto;

}

#description-button {
  margin-bottom: 6px;
  width: 60%;
  font-size: .7em;
  font-weight: 800;
}

#authorbio-button {
  width: 60%;
  font-size: .7em;
  font-weight: 800;
}

.btn-quantity {
  font-size: .7em;
  font-weight: 800;
  margin-top: 10px;
}

.btn-default {
  font-size: .7em;
  font-weight: 800;
  margin-top: 10px;
  background-color: #31b4fa;
  color: #FFF;
  border-color: #2F3E48;

}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {

  background-color: #005eff;
  color: #FFF;
  border-color: #262626;
}
