<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>GeekText.us</title>
    
  </head>
  <body>

	
	
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<a href="/" class="navbar-brand">GeekText</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
					<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarMenu">
					<ul class="navbar-nav ml-auto">
							<li class="nav-item">
									<a class="nav-link" href="/search" >Search for Book</a>
							</li>
							<li class="nav-item">
									<a class="nav-link" href="#" >Sign Up</a>
							</li>
							<li class="nav-item">
									<a class="nav-link" href="#">Login</a>
							</li>
							<li class="nav-item">
									<a class="nav-link" href="/cart">Cart</a>
							</li>
					</ul>
			</div>

	</nav>
