<IfModule mod_rewrite.c>


    RewriteEngine On


    # Handle Front Controller...
    # RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteRule ^ index.php

    # RewriteCond %{REQUEST_FILENAME}/cart.php -d
    # RewriteRule ^ cart.php

    # RewriteCond %{REQUEST_FILENAME} -f
    # RewriteRule ^ %{REQUEST_FILENAME}

</IfModule>
